[Desktop Entry]
Name=XEmacs
Comment=The XEmacs editor
Comment[pl]=Edytor XEmacs
Icon=xemacs
Exec=xemacs
Terminal=false
Type=Application
Categories=Motif;TextEditor;
# vi: encoding=utf-8
